@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h3 class="display-4">北風公司後台管理系統</h3>

   
    <div class="mt-4">
        <a class="btn btn-primary mx-1" asp-controller="Home" asp-action="Customers">Customers</a>
        <a class="btn btn-primary mx-1" asp-controller="Home" asp-action="Employees">Employees</a>
        <a class="btn btn-primary mx-1" asp-controller="Home" asp-action="Orders">Orders</a>
        <a class="btn btn-primary mx-1" asp-controller="Home" asp-action="Products">Products</a>
    </div>
</div>
